* {
  font-size: 24px;
}
li {
  font-size: 16px;
}
h3 {
  color: blue;
}
/* 자식 선택자 */
.list {
  border: 1px solid black;
  padding: 0;
}
.red {
  color: red;
}
.bold {
  font-weight: 700;
}
#big {
  font-size: 36px;
}

/* 일치 선택자 */

h3.green {
  color: green;
}

/* 자식 선택자 */
.list > li {
  /* border-bottom: 1px solid black; */
}

/* 후손 선택자 */
.list li {
  list-style: none;
}
/* 인접 형제 선택자 */
.list .target + li {
  color: violet;
}

/* 첫번째 li요소만 제외하고 적용 */
.list > li + li {
  border-top: 1px solid black;
}

/* 일반 형제 선택자 */
.list .target ~ li {
  font-weight: bold;
}

/* 속성 선택자 */
input[:required] {
  border-width: 5px;
}

input[type="checkbox"] {
  /* type이 checkbox인 input에만 적용 */
  width: 200px;
}

/*선택자 연습*/

/* item 클래스 너비 100px, height 100px */
.item {
  width: 100px;
  height: 100px;
}

/* item 클래스, big클래스 100px, 200px */
.item.big {
  width: 200px;
  height: 200px;
}

/* item 클래스 자식요소 li 태그 빨간 글씨 */
.item > li {
  color: red;
}

/* item 클래스 인접 형제 item 클래스 왼쪽 여백 */
.item + .item {
  margin-left: 10px;
}

/* input 타입이 radio 인 요소에만 안쪽 여백 10px */
iput[type="radio"] {
  padding: 10px;
}

/* 가상 클래스 선택자 */
.list li:hover {
  background-color: #ddd;
}

.list li:active {
  background-color: #bbb;
}

.list > li:nth-child(1) {
  background-color: red;
}
/* nth-child */

.list > li:nth-child(1):hover::before {
  /*가상 요소는 디자인적으로 특정 상황에서만 요소를 추가해야할 때 사용한다. */
  /* content 속성 지정 안하면 안생긴다 > 텍스트없이 쓰려면 빈 문자열 ""라도 지정해야한다. */
  content: "::before";
  display: block;
  width: 50px;
  height: 50px;
  background-color: blue;
}

.list > li:nth-child(1)::after {
  content: "::after";
}
