:root {
  /*재사용할 값을 변수에 저장한다.
  => 사용할 때는 var()안에 변수명을 저장한다.
  */
  --header-height: 60px;
  --main-color: #fede34;
}

body {
  padding-top: var(--header-height);
}

#header {
  display: flex;
  /* align-items: center; */
  padding: 0 30px;
  border-bottom: 1px solid #ddd;
  max-height: var(--header-height);

  transition: max-height 0.4s;
  position: absolute;
  width: 100%;
  background-color: #fff;
  top: 0;
  left: 0;
  overflow: hidden;
}

#header:hover {
  max-height: 400px;
}

#logo {
  position: absolute;
  top: 0;
  left: 30px;
  font-size: 1.8rem;
  line-height: 60px;
  color: var(--main-color);
}

#gnbList {
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

#gnb {
  width: 100%;
}

#gnbList > li > a {
  display: flex;
  width: 100px;
  height: var(--header-height);
  align-items: center;
  justify-content: center;
}

#gnbList > li:hover {
  background-color: #ddd;
}

#gnbList .depth02 li a {
  display: block;
  padding: 4px 0;
}

#gnbList .depth02 li a:hover {
  background-color: #eee;
}

.but {
  display: none;
}

.imgList {
  padding: 50px 0;
}

.imgList ul {
  display: flex;
  justify-content: center;
}

.imgList ul li a {
  width: 150px;
  height: 150px;
  background-color: pink;
  margin: 10px 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  /* 모서리를 둥글게 처리한다. 너비와 높일가 같을 때 50%를 지정하면 정원이 만들어진다. */
  border-radius: 50%;
  flex-shrink: 0;
  background: center / 100% no-repeat;
  color: #fff;
}

.imgList ul li + li {
  margin-left: 20px;
}

.imgList ul li a:hover {
  background-size: 110%;
  transition: 0.25s;
  color: red;
  font-weight: 700;
}

.imgList ul li:nth-child(1) a {
  background-image: url("./images/윤진1.jpg");
}

.imgList ul li:nth-child(2) a {
  background-image: url("./images/윤진2.jpg");
}

.imgList ul li:nth-child(3) a {
  background-image: url("./images/윤진3.jpg");
}

.imgList ul li:nth-child(4) a {
  background-image: url("./images/윤진4.jpg");
}

.imgList ul li:nth-child(5) a {
  background-image: url("./images/윤진5.jpg");
}

@media screen and (min-width: 640px) {
  #header:hover {
    max-height: 400px;
  }
}
@media screen and (max-width: 640px) {
  #header:hover {
    max-height: 400px;
  }

  #header {
    justify-content: center;
  }

  #gnb {
    width: auto;
  }

  #gnbList {
    display: block;
  }

  #gnbList .depth02 {
    display: none;
  }

  .but {
    display: block;
  }
}

@media screen and (max-width: 900px) {
  .imgList ul {
    flex-direction: column;
    align-items: center;
  }
  .imgist ul li + li {
    margin-top: 20px;
    margin-left: 0;
  }
}

@media screen and (max-width: 960px) {
  :root {
    --header-height: 50px;
  }

  #header {
    max-height: 50px;
    transition: 0s;
  }

  #logo {
    font-size: 1.5rem;
    line-height: 50px;
  }

  #gnbList li {
    font-size: 0.8rem;
  }
  #gnbList > li > a {
    height: 50px;
  }
}

@media screen and (min-width: 961px) {
  #header {
    transition: 0s;
  }
}
